.coin-route{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.452);
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1287;
}
.coin-route-container{
    background: linear-gradient(196.08deg, #86228E 0.63%, #240426 76.25%);
    width: 80%;
    padding: 10px;
    margin: 0;
    height: 100vh;
    position: fixed;
    z-index: 1288;
    border-radius: 0px 8px 0px 8px;
}
.close{
    width: 100%;
    position: relative;
}
.close-container{
    height: 18px;
    width: 18px;
    padding: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    justify-content: center;
    font-size: 13px;
    top: 20px;
    right: 15px;
    background-color: #99999927;
}