.home-page{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #140118;
}
.home-page .design-circle{
    position: absolute;
    background: linear-gradient(163.36deg, rgba(187, 75, 215, 0.1) 11.51%, rgba(163, 161, 161, 0) 77.53%);
    width: 380px;
    height: 380px;
    left: -111px;
    top: -47px;
    border-radius: 50%;
}

.home-page-container{
    margin: 0;
    width: 100%;
    padding: 66px 0 0 0;
}

.home-text-container{
    width: 100%;
    display: flex;
}
.home-text-content{
    width: 60%;
    color: var(--primary-text-color);
    padding: 30px 75px;
    margin: 20px 30px;
}
.home-text-content .heading-text{
    font-size: 38px;
    font-weight: 800;
}
.heading-text .heading-text-container{
    letter-spacing: .3em;
}
.heading-text .heading-text-container span{
    color: #867878;
}
.home-text-content .detailed-text{
    display: block;
    padding: 0;
    width: 90%;
    margin: 0;
}
.detailed-text-container{
    font-weight: 300;
    letter-spacing: .3em;
    font-size: 27px;
    padding: 20px 0px;
    font-weight: 300;
}
.home-email-search{
    padding: 0;
    margin: 0;
    width: 70%;
}
.home-email-search .home-email-search-container{
    background-color: var(--white-bg);
    display: flex;
    border-radius: 30px;
    width: 100%;
    padding: 5px;
}
.home-email-search-container .email-container{
    width: 100%;
    padding: 0px 20px;
    font-size: 20px;
}
.home-email-search-container .email-container input{
    background: none;
    outline: none;
    border: none;
    color: var(--backgoud-color-secondary);
    cursor: pointer;
    font-size: 16px;
}
.home-email-search-container .email-container input::placeholder{
color: var(--secondary-text-color);
}
.home-email-search-container .button-container{
    width: 40%;
}
.home-email-search-container .button-container button{
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 8px;
    background: var(--button-color);
    color: var(--primary-text-color);
    border-radius: 30px;
}
.home-img-content{
    position: absolute;
    padding: 0;
    right: 0;
    margin: 0;
}
.home-img-content .home-img-container{
    padding: 30px;
    margin: 10px;
}
.home-img-container img{
    width: 820px;
}

/* ================ swiper container ========================= */

.coin-price-container{
    width: 100%;
    margin: 0;
    padding: 0;
}
.coin-price-container .coin-price{
    width: 100%;
    padding: 0;
    display: flex;
}
.coin-price-content{
    display: flex;
    width: 100%;
    padding: 40px 60px;
}
.coin-price-details{
    width: 100%;
    color: var(--primary-text-color);
}
.coin-price-details h3{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.coin-price-details span{
    color: var(--buy-text-color);
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 12px;
}
.coin-price-details h2{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .2em;
    padding: 5px 0px;
}
.coin-price-details p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2em;
    color: var(--secondary-text-color);
}
.home-page .home-market{
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--white-bg);
}
.home-page .home-market .home-market-container{
    padding: 60px;
}
.home-market-container .sliding-images{
    padding: 0;
    margin: 0;
    width: 100%;
}
.home-market-container .sliding-container{
    display: flex;
    gap: 20px;
}
.home-market-container .sliding-content{
    padding: 0;
    margin: 0;
    display: block;
}
.home-market-container .sliding-content img{
    width: 100%;
}

/* ======================= Home market route ======================== */
.market-home-route{
    width: 100%;
    padding: 0;
    margin: 0;
}
.market-home-route-conatiner{
    padding: 20px;
    margin: 10px;
}
.market-route-contents{
    display: flex;
    width: 100%;
    gap: 10px;
    font-size: 13px;
    font-weight: 500;
    color: var(--backgoud-color-secondary);
}
.market-route-contents .market-route-details{
    padding: 6px 18px;
    cursor: pointer;
}
.market-route-contents .active{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 6px 18px;
    cursor: pointer;
}

.home-coin-dropdown{
    width: 100%;
    padding: 0;
    margin: 0;
}
.home-coin-dropdown-container{
    padding: 0;
    margin: 0;
}
.home-coin-heading{
    width: 100%;
    padding: auto;
    margin: auto;
}
.home-coin-heading-container{
    display: flex;
    gap: 15px;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.1em;
}
.home-coin-heading-container .pair-container{
    width: 28%;
    padding: 5px;
}
.home-coin-heading-container .price-container{
    width: 100%;
    padding: 5px;
}