.navbar-destop{
    width: 100%;
    background: var(--backgoud-color-secondary);
    color: var(--primary-text-color);
    height: 56px;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 12px;
    font-weight: 600;
}
.navbar-destop-container{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}
.navbar-destop-container .logo-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-destop-container .logo-container .logo-content{
    width: 100%;
    display: flex;
    grid-gap: 7px;
    grid-gap: 15px;
    gap: 15px;
    padding: 10px 20px;
    color: var(--primary-text-color);
    font-size: 18px;
    letter-spacing: .3em;
}
.logo-container .logo-content .logo-img{
    padding: 0;
    margin: 0;
}
.logo-container .logo-content .logo-img img{
    width: 32px;
}
.navbar-destop-container .navigation-routes{
    width: 43%;
    display: flex;
    grid-gap: 1px;
    gap: 1px;
}
.navigation-routes .market-container{
    width: 100%;
    height: 56px;
    cursor: pointer;
}
.navigation-routes .market-container:hover{
    background:  #240a293f;
    color: var(--secondary-text-color);
}

.navigation-routes .market-container .market-content{
    padding: 0;
    margin: 18px 0px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    letter-spacing: .1em;
}
.navigation-routes .spot-container{
    width: 100%;
    padding: 0px 5px;
    margin: 0;
    cursor: pointer;
    height: 56px;
}
.navigation-routes .spot-container:hover{
    background:  #240a293f;
    color: var(--secondary-text-color);
}
.navigation-routes .spot-container .spot-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.spot-container .spot-content .spot-text{
    font-size: 12px;
    color: var(--primary-text-color);
    font-weight: 500;
    margin: 18px 0;
    text-align: center;
    letter-spacing: .1em;
}
.spot-container .spot-content .spot-arrow{
    font-size: 30px;
    margin: 9.5px 0;
    padding: 0;
    color: var(--secondary-text-color);
}

.navbar-destop-container .login-container{
    width: 28%;
    padding: 0;
    margin: 0;
}
.navbar-destop-container .login-container .login-content{
    display: flex;
    width: 100%;
    justify-content: end;
    grid-gap: 14px;
    gap: 14px;
    margin: 15px 0;
}
.login-container .login-content .login-text{
    padding: 0;
    margin: 0;
}
.login-container .login-content .login-text a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.login-container .login-content .signup-button{
    padding: 0;
    margin: 0;
}
.login-container .login-content .signup-button a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    background: var(--button-color);
    padding: 7px 25px;
    border-radius: 6px;
}
.login-container .login-content .signup-button a:hover{
    background: #1b0120 ;
}