.homeCoindrop{
    width: 100%;
    padding: 0;
    margin: 0;
}
.homeCoindrop .homeCoindrop-container{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(134,120,120,.32);
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
}
.homeCoindrop .homeCoindrop-container:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
}
.homeCoindrop-container .coin-pair{
    width: 100%;
    padding: 0;
}
.homeCoindrop-container .coin-pair .coin-pair-container{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: .1em;
    font-weight: 600;
    color: #000;
}
.coin-pair .coin-pair-container img{
    width: 25px;
    padding-top: 12px;
    padding-left: 10px;
}
.coin-pair .coin-pair-container .pair{
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.coin-pair .coin-pair-container .pair span{
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #000000;
}
.homeCoindrop-container .coin-container{
    width: 100%;
    padding: 0;
}
.coin-container .coin-content{
    letter-spacing: .1em;
    color: #000;
    font-weight: 600;
    margin: 13px;
    font-size: 12px;
}
.homeCoindrop-container .coin-percent{
    width: 100%;

}
.homeCoindrop-container .coin-percent .coin-percent-container{
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 12px;
}

.homeCoindrop-container .coin-percent .coin-percent-container .negative{
    letter-spacing: 0.1em;
    color: var(--sell-text-btn);
    font-weight: 500;
    font-size: 12px;
}

.homeCoindrop-container .coin-percent .coin-percent-container .positive{
    letter-spacing: 0.1em;
    color: var(--buy-text-color);
    font-weight: 500;
    font-size: 12px;
}

.homeCoindrop-container .trade-section{
    padding: 0;
}
.trade-btn-container{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    margin: 10px;
}
.trade-btn-container .trade-btn-content{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
.trade-btn-container .trade-btn-content button{
    border: none;
    cursor: pointer;
    background: rgba(0,0,0,.25);
    border-radius: 5px;
    color: #140118;
    font-size: 12px;
    padding: 6.5px 20px;
}
.trade-btn-container .trade-btn-content button:hover{
    background: var(--button-color);
    color: #ffff;
}