
.round_icon {
    position: fixed;
    background: linear-gradient(163.36deg, rgba(187, 75, 215, 0.1) 11.51%, rgba(163, 161, 161, 0) 77.53%);
    right: -70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -50px;
    z-index: -5;
}

.market-page{
    width: 100%;
    padding: 0;
    margin: 0;
}

.market-page-container{
    padding: 0;
    margin: 0;
    width: 100%;
}

.market-page-container .mobile-market-route{
    width: 100;
    padding: 0;
    margin: 0;
}
.market-page-container .mobile-market-route .mobile-market-route-container{
    padding: 12px 0px;
    justify-content: space-around;
    width: 100%;
    gap: 20%;
    display: flex;
}


.market-page-container .mobile-market-route .mobile-market-route-container .content-search a{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .1em;
    color: #8c8b8e;
}
.market-page-container .mobile-market-route .mobile-market-route-container .content a{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .1em;
    color: #8c8b8e;
}
.market-page-container .mobile-market-route .mobile-market-route-container  a.active{
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: .1em;
    color: #fff;
}

/* ================ main market switch ================ */

.main-market{
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-market-container{
    padding: 0;
    width: 100%;
    margin: 0;
}

.main-market-container .main-market-switch{
    width: 100%;
    padding: 0;
    margin: 0;
}
.main-market-switch-container{
    padding: 5px;
    margin: 5px;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
}
.main-market-switch-container .content{
    color: var(--secondary-text-color);
    word-spacing: .1em;
    font-size: 11px;
    font-weight: 500;
}
.main-market-switch-container .content h4{
    padding: 4px;
}
.main-market-switch-container .active h4{
    padding: 4px 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    word-spacing: 0.1em;
    font-size: 12px;
    border-radius: 4px;
    background: var(--button-color);
}


/* ======================== spot coin contents ========================= */

.market-spot-main{
    width: 100%;
    padding: 0;
    height: 100%;
    background: #1b0b1f;
    border-radius: 30px 30px 0 0;
}

.market-spot-main .market-spot-main-container{
     padding: 0;
     margin: 0;
}

.market-spot-main .market-spot-main-container .header{
    padding: 0;
    margin: 0;
    width: 100%;
}
.market-spot-main .market-spot-main-container .header .header-container{
    gap: 17%;
    display: flex;
    padding: 10px;
    margin: 0 10px;
    font-size: 10px;
    justify-content: space-around;
}
.market-spot-main .market-spot-main-container .header .header-container .content{
    color: var(--secondary-text-color);
}
.market-spot-main .market-spot-main-container .header .header-container .percent{
    color: var(--secondary-text-color);
}

.market-spot-main .market-spot-main-container .body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100vh;
}

.market-spot-main .market-spot-main-container .body-container{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    width: 100%;
    grid-gap: 10%;
    gap: 10%;
    color: var(--primary-text-color);
    font-size: 12.3px;
    font-weight: 700;
    word-spacing: 0.1em;
}
.market-spot-main .market-spot-main-container .body-container {
    color: var(--primary-text-color);
    font-size: 12.3px;
    font-weight: 700;
    word-spacing: .1em;
    text-transform: uppercase;
}

.market-spot-main .market-spot-main-container .body-container span,
.market-spot-main .market-spot-main-container .body-container p{
    color: var(--secondary-text-color);
    font-size: 11.3px;
    word-spacing: .1em;
    font-weight: 500;
}

.market-spot-main .market-spot-main-container .body-container .percent .positive{
    background: var(--buy-text-color);
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 10.6px;
    border-radius: 4px;
    width: 60px;
    margin: 3px;
    height: 26px;
  }
  
  .market-spot-main .market-spot-main-container .body-container .percent .negative{
    border: none;
    background: var(--sell-text-btn);
    color: #fff;
    font-weight: 600;
    font-size: 10.6px;
    border-radius: 4px;
    width: 60px;
    margin: 3px;
    height: 26px;
  }
  .market-spot-main .market-spot-main-container .body  .isloading-coin{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
    color: var(--secondary-text-color);
  }

 .market-spot-main .market-spot-main-container .body .no-data{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.market-spot-main .market-spot-main-container .body .no-data-container{
    margin: 40px;
}
.market-spot-main .market-spot-main-container .body .no-data-container h3{
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    font-style: italic;
    color: var(--secondary-text-color);
}
.market-spot-main .market-spot-main-container .body .no-data-container h4{
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    color: var(--secondary-text-color);
}