
.round_icon {
    position: fixed;
    background: linear-gradient(163.36deg, rgba(187, 75, 215, 0.1) 11.51%, rgba(163, 161, 161, 0) 77.53%);
    right: -70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -50px;
    z-index: -5;
}

.market-page{
    width: 100px;
    padding: 0;
    margin: 0;
}

.market-page-container{
    padding: 0;
    margin: 0;
    width: 100%;
}

.market-page-container .mobile-market-route{
    width: 100;
    padding: 0;
    margin: 0;
}
.market-page-container .mobile-market-route .mobile-market-route-container{
    padding: 5px;
    margin: 5px;
    display: flex;
}
.market-page-container .mobile-market-route .mobile-market-route-container .content{
    width: 100%;
    padding: 5px;
    text-align: center;
}
.market-page-container .mobile-market-route .mobile-market-route-container .content-search{
    width: 50%;
    padding: 5px;
    text-align: center;
}
.market-page-container .mobile-market-route .mobile-market-route-container .content-search a{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .1em;
    color: #8c8b8e;
}
.market-page-container .mobile-market-route .mobile-market-route-container .content a{
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    /* line-height: 18px; */
    letter-spacing: .1em;
    color: #8c8b8e;
}
.market-page-container .mobile-market-route .mobile-market-route-container  a.active{
    text-decoration: none;
    font-weight: 900;
    font-size: 11.5px;
    /* line-height: 18px; */
    letter-spacing: .1em;
    color: #fff;
}

