.welcome-page{
    padding: 0;
    width: 100%;
    margin: 0;
    height: 100vh;
    position: fixed;
    z-index: 23;
    background: linear-gradient(300.65deg,#140118 61.42%,#140118 0,#631969 160.66%);
}
.welcome-page-container{
    padding: auto;
    margin: auto;
    width: 100%;
}
.welcome-page-content{
    display: flex;
    width: 100%;
    position: relative;
}

.welcome-page-container .welcome-page-content .text-field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-field-container{
    display: block;
    width: 100%;
    padding: 0px 0px 0px 40px;
    margin: 0;
}
.welcome-page-container .welcome-page-content .text-field .header{
    font-weight: 700;
    font-size: 45px;
    letter-spacing: .3em;
    color: var(--primary-text-color);
}
.welcome-page-container .welcome-page-content .text-field .middle-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: .1em;
    color: var(--secondary-color);
}
.welcome-page-container .welcome-page-content .text-field .welcome-btn{
    font-weight: 700;
    line-height: 24px;
    padding: 25px 0px;
    letter-spacing: .1em;
    color: var(--primary-text-color);
}
.welcome-page-container .welcome-page-content .text-field .welcome-btn button{
    border: none;
    width: 100%;
    border-radius: 8px;
    background: var(--button-color);
    padding: 8px;
    color: #ffff;
    font-size: 14px;
}
.welcome-page-container .welcome-page-content  .wallet-field{
    width: 100%;
    height: 100vh;
    position: relative;
}
.welcome-page-container .welcome-page-content  .wallet-field .wallet-field-container{
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 25%;
}
.welcome-page-container .welcome-page-content  .wallet-field .wallet-field-container .round-circle{
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(163.36deg,rgba(187,75,215,.1) 11.51%,rgba(163,161,161,0) 77.53%);
    top: 50%;
    left: 25%;
    border-radius: 50%;
}
.wallet-field .wallet-field-container .wallet-img{
    position: absolute;
    margin: 0;
    top: 40px;
    left: 25%;
}
.wallet-field .wallet-field-container .wallet-img img{
    margin: 0;
    width: 350.62px;
    -webkit-transform: matrix(.97,-.25,.28,.96,0,0);
}