@media screen and (max-width: 767px) {
    .Hot-coins {
      padding: 0;
      width: 100%;
      color: #ffffff;
      font-size: 12px;
      font-weight: 800;
    }
    .hot-coins-container{
      padding: 0px;
      display: block;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 60px;
    }
    .isloading-coin{
      color: #ffffff3b;
      width: 100%;
      height: 400px;
      margin-top: 30px;
    }
    .isloading-coin h1{
      font-size: 13px;
      font-weight: 600;
      font-style: italic;
      text-align: center;
      margin-top: 30px;
    }
    .coin-inner{
      display: flex;
      padding: 15px;
      margin: 5px 10px;
    }
    .coin-inner:hover{
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);
    }
    .Hot-coins .name1 p {
      padding: 8px;
      border-radius: 3px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 800;
      width: fit-content;
    }
    .coin-transform {
      text-transform: uppercase;
      width: 100%;
      margin: 5px;
    }
    .coin-transform span {
      color: #878787;
    }
    .hot-coins-container .hot-coin-header {
      display: flex;
      width: 100%;
      color: #fff;
      /* padding-bottom: 70px; */
    }
    .hot-coins-container .hot-coin-header .name1 {
      width: 100%;
      padding-left: 10px;
    }
    .star-fav-add {
      position: absolute;
      right: -4px;
      margin-top: 4px;
      font-size: 20px;
      color: #f7931a;
    }
    .coin-inner-scroll::-webkit-scrollbar {
      display: none;
    }
    .hot-coins-container .hot-coin-header .name {
      width: 100%;
      text-align: center;
    }
    .hot-coin-content {
      padding: 6px 0px;
      display: flex;
      width: 100%;
      font-size: 12px;
      font-weight: 900;
      color: rgb(228, 220, 226);
    }
    .coin-name {
      text-align: center;
      font-size: 12.2px;
      width: 100%;
    }
    .coin-price{
      width: 100%;
      margin: 5px;
    }
    .coin-name button {
      color: white;
      border: none;
      padding: 6.3px 20px;
      border-radius: 5px;
      font-size: 11.3px;
    }
    .coin-name .positive {
      background: green;
    }
    .coin-name .negative {
      background: red;
    }
    .hot-coin-content .coin-name1 {
      width: 100%;
      padding-left: 10px;
    }
  }
  