.spot-classic{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-container{
    display: flex;
    padding-top: 65px;
    gap: 8px;
}

.spot-classic-route{
    width: 25%;
    height: 850px;
    background: #1b0b1f
}

.spot-classic-chart{
    width: 54%;
    height: 850px;
}

/* ===================================== Order Book ================================= */

.spot-classic-orderbook{
    position: relative;
    width: 21%;
    background: #1b0b1f;
    height: 850px;
}
.spot-classic-orderbook .spot-classic-orderbook-container{
    padding: 0;
    margin: 0;
    width: 100%;
}
.spot-classic-orderbook-container .spot-classic-orderbook-header{
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 12px;
    word-spacing: .1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}
.spot-classic-orderbook-container .spot-classic-orderbook-header h3{
    padding: 10px;
}

.spot-classic-orderbook-display-route{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-orderbook-display-route-img{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    margin: 10px;
}
.spot-classic-orderbook-display-route-img img{
    width: 24px;
}
.spot-classic-orderbook-display-content-header-container .content{
    padding: 10px;
}
.spot-classic-orderbook-display-content-header{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-orderbook-display-content-header .spot-classic-orderbook-display-content-header-container{
    display: flex;
    justify-content: space-around;
    color: var(--secondary-text-color);
    font-size: 11px;
    gap: 25px;
    font-weight: 500;
}
.spot-classic-orderbook-display-content-body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-orderbook-display-content-body .container{
    display: flex;
    justify-content: space-around;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 10px;
    gap: 30px;
    margin: 5px 0;
    padding: 5px 0;
    cursor: pointer;
}
.spot-classic-orderbook-display-content-body .container:hover{
    background: #45234A;
}
.spot-classic-orderbook-display-content-body .container .sell-price{
    color: var(--sell-text-btn);
}

.spot-classic-orderbook-display-content-price{
    padding: 0;
    margin: 0;
    width: 100%;
}
.spot-classic-orderbook-display-content-price .content{
    padding: 10px;
    font-weight: 800;
    font-size: 12.23px;
    word-spacing: .2em;
    color: var(--primary-text-color);
}

.spot-classic-orderbook .recent-trades{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-orderbook .recent-trades .recent-trades-container{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.recent-trades .recent-trades-container .recent-trades-header{
    background: #45234A;
    padding: 0;
    margin: 0;
    width: 100%;
}
.recent-trades-container .recent-trades-header .recent-trades-header-container{
    padding: 10px;
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 800;
}

.recent-trades-container .recent-trades-title{
    width: 100%;
    padding: 0;
    margin: 0;
}
.recent-trades-container .recent-trades-title-container{
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    font-weight: 300;
    color: var(--secondary-text-color);
}
.recent-trades-container  .recent-trades-body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.recent-trades-container .recent-trades-body-container{
    overflow-y: scroll;
    height: 300px;
}
.recent-trades-container .recent-trades-body-container::-webkit-scrollbar{
    display: none;
}
.recent-trades-container .recent-trades-body-content{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    gap: 20px;
    padding: 5px;
    margin: 5px;
    color: var(--primary-text-color);
}
.recent-trades-container .recent-trades-body-content::-webkit-scrollbar{
    display: none;
}
.recent-trades-container .recent-trades-body-content .price{
    color: var(--sell-text-btn);
}




/* ========================= spot coin route ============================ */
.spot-classic-route{
    width: 25%;
    padding: 0;
    margin: 0;
}
.spot-classic-route-container{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-route-content{
    display: flex;
    gap: 15px;
    border-bottom: rgba(0, 0, 0, 0.527);
}
.spot-classic-route-content .item{
    color: var(--secondary-text-color);
    font-weight: 300;
    word-spacing: .1em;
    padding: 10px;
    font-size: 13px;
}
.spot-classic-route-content .active{
    color: var(--primary-text-color);
    font-weight: 700;
    word-spacing: .1em;
    padding: 10px;
    font-size: 13.34px;
}

.spot-classic-route .search{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-route  .search-container{
    padding: 5px;
    margin: 5px;
}
.spot-classic-route  .search-container .search-content{
    display: flex;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #45234A;
    position: relative;
}
.spot-classic-route  .search-container .input{
    padding: 0;
}
.spot-classic-route  .search-container .input input{
    background: none;
    outline: none;
    border: none;
    padding: 5px;
    font-weight: 600;
    font-size: 11px;
    color: var(--secondary-text-color);
}
.spot-classic-route  .search-container .input input::placeholder{
    color: var(--secondary-text-color);
}

.spot-classic-route  .search-container .icon{
    color: var(--secondary-text-color);
    position: absolute;
    top: 5px;
    right: 10px;
}