.spot-classic{
    width: 100%;
    padding: 0;
    margin: 0;
}
.spot-classic-container{
    display: flex;
    padding-top: 65px;
    gap: 8px;
}

.spot-classic-route{
    width: 25%;
    height: 1000px;
    background: #1b0b1f
}

.spot-classic-chart{
    width: 53%;
    height: 1000px;
}

.spot-classic-orderbook{
    width: 22%;
    background: #1b0b1f
}