.homePage {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.homePage-container {
  width: 100%;
  padding-top: 50px;
  margin: 0;
}

.homePage-container .home-login-display{
  padding: 0;
  margin: 0;
  width: 100%;
}
.home-login-display .home-login-display-container{
  display: flex;
  padding: 10px;
  color: var(--primary-text-color);
}
.home-login-display .home-login-display-container .text{
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  margin: 5px;
  letter-spacing: .2em;
}
.home-login-display .home-login-display-container .regi-btn button{
  border: none;
  background: var(--button-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  padding: 5px 18px;
  font-size: 11px;
  margin: 0px 12px;
}

.homePage-container .home-sliding-images{
  width: 100%;
  padding: 0;
  margin: 0;
}
.homePage-container .home-sliding-images-container{
  width: 100%;
  padding: 0;
  margin: 0;
}
.homePage-container .home-sliding-images-container{
  display: flex;
  grid-gap: 5px;
  gap: 5px;
  width: 100%;
}

.home-sliding-images-container .home-display-cover {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.home-sliding-images-container  .home-display-cover img{
  width: 90%;
}



/* .coin-height {
  width: 100%;
  background: #240426;
  border-radius: 29px 29px 0px 0px;
  color: #999999;
}
    .profile-nav img {
      border: 2px solid #ffffff;
      border-radius: 30px;
    }
    .chat-display-body {
      overflow-y: scroll;
    }
    .home-second-image {
      margin: 13px;
    }
    .home-second-image img {
      width: 100%;
    }
    .notification-count {
      position: relative;
    }
    .notification-count-num {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #cc6200;
      border-radius: 50%;
      top: -10px;
      right: -10px;
    }
    .notification-count-num h3 {
      color: #ffffff;
      font-size: 10px;
      padding: 2px 5px;
    }
    .desktop-cover {
      display: none;
    }
    .menu-home-icon {
      font-size: 20px;
      color: white;
    }
    .home-top-flex1 .login a {
      color: #cfc2d7;
      font-size: 12.3px;
      font-weight: bold;
      margin: 0px 5px;
    }
    .home-top-flex1 .signup a {
      color: #cfc2d7;
      font-size: 11px;
      background-color: #cfc2d738;
      margin: 0px 5px;
      border: 1px solid #cfc2d7;
      padding: 6px 10px;
      border-radius: 6px;
    }
    .home-display {
      width: 100%;
      display: block;
      margin-top: 70px;
    }


  
    .home-top-flex2 {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
    .home-top-flex2 img {
      width: 18px;
    }
  
    .home-page-display {
      position: fixed;
      width: 250px;
      height: 200px;
      right: 0;
      border-radius: 50%;
    } */
  
    /* .home-page-display-text {
      display: flex;
      flex-direction: column;
      height: 20px;
      overflow: hidden;
    }
  
    .home-page-display-text div {
      height: 50px;
      margin-bottom: 4px;
      padding: 2px 15px;
      font-style: normal;
      box-sizing: border-box;
    }
  
    .annountment {
      display: flex;
      gap: 8px;
      margin: -5px 17px;
    }
  
    .annountment img {
      width: 14px;
    }
  
    .home-page-display-text1 {
      animation: slide 15s linear infinite;
    }
  
    @keyframes slide {
      0% {
        margin-top: -100px;
      }
  
      5% {
        margin-top: -50px;
      }
  
      33% {
        margin-top: -50px;
      }
  
      38% {
        margin-top: -25px;
      }
  
      66% {
        margin-top: -25px;
      }
  
      71% {
        margin-top: 0px;
      }
  
      100% {
        margin-top: 0px;
      }
    }
  
    .home-page-display-text h3 {
      font-weight: 900;
      color: #cfc2d7;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 675px;
    }
  
.home-main-lists-first-flex {
  margin-top: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.home-main-lists-first-flex2 a{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  padding: 10px 20px;
}
.home-main-lists-first-flex2 a .image img{
    width: 25px;
}
.home-main-lists-first-flex2 a .text h3{
  font-size: 11.3px;
  color: #ffffff;
}

a {
  text-decoration: none;
}
  
    .home-main-lists-second-flex {
      display: flex;
      align-items: center;
      margin-top: 14px;
      gap: 25px;
      width: 100%;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
  
    .home-main-lists-second-flex1 {
      border-radius: 12px;
      padding: 15px 10px;
      position: relative;
      display: flex;
      gap: 10px;
    }
  
    .home-main-lists-second-flex1 h1,
    .home-main-lists-second-flex2 h1 {
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 11px;
    }
  
    .home-main-lists-second-trade-flex,
    .home-main-lists-second-trade-flex2 {
      position: relative;
    }
  
    .home-main-lists-second-trade-flex h3,
    .home-main-lists-second-trade-flex2 h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #725f7d;
      font-size: 10px;
    }
  
    .home-main-lists-second-trade-flex h3 {
      font-weight: 600;
      color: #725f7d;
      font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .home-main-lists-second-trade-flex img,
    .home-main-lists-second-trade-flex2 img {
      position: absolute;
      right: 0px;
      top: 50%;
    }
  
    .home-main-trade-display {
      overflow-x: scroll;
      margin-top: 5px;
      display: flex;
      width: 100%;
      gap: 5%;
    }
  
    .home-main-trade-display::-webkit-scrollbar {
      display: none;
    }
  
    .home-main-trade-text1 {
      color: #dddada;
      border-radius: 6px;
      padding: 0px 10px;
      font-weight: 600;
      font-size: 12px;
    }
  
    .home-main-trade-text a {
      color: #ffffff;
      padding: 5px;
      font-size: 12px;
      font-weight: 900;
    }
  
    .home-main-trade-text a.active {
      background-color: #8b35a0;
      padding: 5px 16px;
      color: white;
      font-size: 12px;
      font-weight: 900;
      border-radius: 6px;
    }
  
    .home-main-trade-text {
      margin: 0;
      padding: 7px;
    }
  
    .home-main-trade-display2 {
      margin: 10px 10px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .home-main-trade-display2-text1 {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  
    .home-main-trade-display2 h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #725f7d;
      font-size: 14px;
    }
  
    .home-main-trade {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 10px;
    }
  
    .home-main-trade-first-flex {
      background: rgba(187, 75, 215, 0.16);
      border-radius: 20px 0px 0px 20px;
      padding: 10px 10px;
      width: 100%;
    }
  
    .home-main-trade-first-flex2 {
      background: rgba(187, 75, 215, 0.16);
      border-radius: 0px 20px 20px 0px;
      padding: 10px 10px;
      width: 100%;
    }
  
    .home-main-trade-first-flex h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 14px;
    }
  
    .home-main-trade-first-flex2 h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 14px;
    }
  
    .home-main-trade-first-inner-flex h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 11px;
    }
  
    .home-main-trade-first-inner-flex h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: red;
      font-size: 11px;
    }
  
    .home-main-trade-first-flex h1 span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #725f7d;
      font-size: 14px;
    }
  
    .home-main-trade-first-flex2 h1 span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #725f7d;
      font-size: 14px;
    }
  
    .home-main-trade-first-inner-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .home-main-trade-first-footer {
      margin-top: 14px;
    }
  
    .home-main-trade-first-footer-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  
    .home-main-trade-first-footer-btn button {
      padding: 8px 45px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600px;
      color: #ffffff;
      font-size: 12px;
      background: #8b35a0;
      border-radius: 4px;
      border: none;
      width: 100%;
    }
  
    .home-main-hot-display {
      margin: 10px 10px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .home-main-hot-display1 h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 12px;
    }
  
    .home-main-hot-display3 h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 12px;
      background: #00941d;
      padding: 5px 16px;
      border-radius: 4px;
    }
  
    .home-main-hot-display2 h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #ffffff;
      font-size: 12px;
    }
  
    .home-main-hot-display2 h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      color: #725f7d;
      font-size: 12px;
    } */
