.menu {
  position: fixed;
  background: linear-gradient(196.08deg, #86228e 0.63%, #240426 76.25%);
  color: #ffff;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20387;
}

.menu .menu_container {
  margin: auto 15px 0;
}

.back_button {
  border: none;
  background: rgba(114, 95, 125, 0.65);
  border-radius: 3px;
  color: white;
  margin: 20px 0px;
  padding: 3px 7px;
  font-size: 17px;
}

.login-inputs-container {
  display: block;
  margin: 5px 0px;
}

.menu .title {
  font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin: 15px 0px;
}

.menu  .user_info {
  display: flex;
  align-items: center;
  background: rgba(104,66,125,.71);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-radius: 15px;
  padding: 5px 8px;
  gap: 25px;
  width: 96%;
}
.user_info img{
  width: 100px;
}

.username_id span {
  font-size: 12px;
}

.highlights {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column p {
  font-weight: 500;
  font-size: 12px;
  color: #999;
}

.features{
  padding: 0;
  margin: 0;
  width:100%;
  display: block;
}
.features .features-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 10px 0px;
}
.feature_contents{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
}
.feature_details{
  padding: 2px;
  color: #fff;
  font-size: 10px;
}
.feature_details .img{
  width: 60px;
}
.menu-login{
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu-login-container{
  padding: 10px;
  margin: auto;
}
.menu-login-content{
  font-size: 11px;
  font-weight: 900;
}
.menu-login-content .menu-login-email{
  width: 100%;
  display: block;
}
.menu-login-content .menu-login-email button{
  width: 100%;
  display: block;
  background: #8b35a0;
  border-radius: 5px;
  font-weight: 900;
  padding: 6px;
  border: none;
  color: #ffff;
}
.menu-login-content  .menu-login-middle{
    display: flex;
    gap: 15px;
    width: 100%;
    font-size: 11px;
    color: #ffff;
    padding: 10px 0px;
}
.menu-login-content  .menu-login-middle .line{
  padding: 3px;
  width: 70%;
}
.menu-login-middle .line hr{
  border: 1.06309px solid rgba(134, 120, 120, 0.33);
}
.menu-login-google{
  width: 100%;
  display: block;
}
.menu-login-google button{
  width: 100%;
  display: block;
  background: #CCCDD2;
  border-radius: 5px;
  padding: 5px;
  border: none;
}