.convert-page{
    position: fixed;
    background: #240426;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 34879;
}
.convert-page .route{
    background: #9999;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: fixed;
    right: -20px;
    top: -20px;
}
.convert-page-container{
    padding: 15px;
    margin: 0;
    position: relative;
}
.convert-page-container .navigate-back{
    height: 15px;
    width: 15px;
    background-color: #99999927;
}
.convert-page-container .heading{
    text-align: center;
    font-size: 13px;
    color: #ffff;
    font-weight: bold;
}
.convert-page-container .spend-coin{
    width: 100%;
    padding: 0;
    margin: 0;
}
.convert-page-container .spend-coin-container{
    margin-top: 10px;
}
.convert-page-container .spend-coin-container .label{
    display: flex;
    width: 100%;
    color: #9999;
    font-size: 11.432px;
    font-weight: 900;
}
.convert-page-container .spend-coin-container  .spend{
    width: 100%;
}
.convert-page-container .spend-coin-container  .available{
    width: 100%;
    display: flex;
    justify-content: end;
}
.convert-page-container .spend-input{

}