.select-market-trade{
    width: 100%;
    position: absolute;
    background: #A195A3;
    color: #fff;
    top: 25px;
    left: 0;
    border-radius: 1px;
    z-index: 342;
}
.select-market-trade-container{
    padding: 0;
    margin: 0;
    font-size: 10.5px;
}
.select-market-trade-container .btn{
    margin: 6px 10px ;
    padding: 6px  0px;
    width: 90%;
    background: #2404267e;
    border-radius: 4px;
    text-align: center;
    color: #9999;
    font-weight: 800;
}
.select-market-trade-container .btn .active{
   color: #fff;
}

.amount-percentage{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.amount-percentage-container{
    display: flex;
    gap: 10px;
    width: 100%;
}
.amount-percentage-contents{
    font-size: #9999;
    width: 100%;
    font-weight: bold;
}
.percentage-box{
    width: 100%;
    height: 6px;
    background: hsla(0,0%,60%,.17254901960784313);
    border-radius: 2px;
}